
.title-lg {
  color: $color-dark;
  font-size: 24px;
  margin: 0;
  line-height: 27px;
  font-weight: bold;
}

.title-md {
  color : $color-light;
  font-size: 20px;
  line-height: 22px;
  margin : 0;
  font-weight: bold;
}

.txt-main {
  font-size: 15px;
  line-height: 22px;
}

.txt-footer {
  color : $color-light;
  margin : 0;
  font-size: 14px;
}

.txt-btn {
  color: $color-light;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.txt-menu-lateral {
  color: $color-light;
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
}

.txt-menu {
  color: $color-light;
  font-size: 15px;
  line-height: 17px;
}
