body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #4A4A4A;
  font-size: 18px; }

/* header */
.header {
  background-color: #4A4A4A;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 15px; }

/* main */
.main {
  padding-top: 30px;
  background-color: #f4f4f4; }

/* footer */
.footer {
  background-color: #4A4A4A;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }

.title-lg {
  color: #000000;
  font-size: 24px;
  margin: 0;
  margin-bottom: 40px; }

.title-md {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  margin: 0; }

.txt-footer {
  color: #FFFFFF;
  margin: 0;
  font-size: 14px; }

/* Buttons */
button {
  cursor: pointer;
  border: none;
  background: none;
  outline: inherit; }

.grid {
  background-color: #FFFFFF;
  padding: 30px 15px; }

.card {
  background-color: #E7FDFF;
  padding: 5px 15px;
  margin-bottom: 15px; }

.button {
  font: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  background-color: #FF525E;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 12px; }

.txt-btn {
  color: #FFFFFF; }
