
/* Buttons */

button {
  font: inherit;
  border : none;
  cursor: pointer;
  outline: inherit;
}

.btn-main {
  background-color: $color-primary;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 12px;
}

.btn-menu-open {
  background-color: transparent;
  @media all and (min-width: 768px){
    display: none;
  }
}

.btn-menu-close {
  background-color: transparent;
  align-self: flex-end;
  margin-top: 15px;
  margin-right: 15px;
}
