body {
  margin : 0;
  box-sizing: border-box;
  font-family: $font-family-primary;
  color : $color-tertiary;
}

ul {
  margin : 0;
  list-style-type: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.none-margin-top {
  margin-top: 0;
}


/* Header */

.header {
  background-color: $color-tertiary;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media all and (min-width: 768px){
    padding-left: 45px;
    padding-right: 45px;
  }
}

/* Main */

.main {
  padding-top: 30px;
  background-color: $color-midtone;
  @media all and (min-width: 768px){
    padding: 30px 45px;
  }
}

.content {
  background-color: $color-light;
  padding: 30px 15px;
}

.container-title-grid {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.grid {
  @media all and (min-width: 768px){
    display : grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  @media all and (min-width: 1024px){
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: $color-secondary;
  padding : 20px 15px;
  margin-bottom: 15px;
  box-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.2);
  @media all and (min-width: 768px){
    margin-bottom: 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* Menu */

.list-menu {
  display: none;
  @media all and (min-width: 768px){
    display: flex;
  }
}

.link-menu-right {
  margin-left: 25px;
}

/* Lateral Menu */

.container-menu-lateral {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $color-tertiary;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  transform: translate3d(100%, 0, 0);
  -webkit-transition: transform ease-in-out 1s;
  transition: transform ease-in-out 1s;
}

.container-menu-lateral-visible {
  transform: translate3d(0,0,0);
  right: 0;
}

.nav-lateral {
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

.list-menu-lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-menu-lateral {
  padding-bottom: 45px;
  cursor: pointer;
}

.li-menu {
  display: block;
}

.li-menu a:hover {
  color: black;
}

.icon-menu-close {
  width: 24px;
}

/* Footer */

.footer {
  background-color: $color-tertiary;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}