
body {
  margin : 0;
  box-sizing: border-box;
  font-family: $font-family-primary;
  color : $color-tertiary;
  font-size : 18px;
}

/* header */

.header {
  background-color: $color-tertiary;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

/* main */

.main {
  padding-top: 30px;
  background-color: $color-midtone;
}

/* footer */

.footer {
  background-color: $color-tertiary;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}